@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  resize: none;
}

html,
body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: #02020a;
  background: #ffffff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #02020a;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 2000px;
  margin: 0 auto;
}

.nav {
  height: 10vh;
  background: #02020a;
  justify-content: flex-start;
  padding-left: 50px;
}
.nav a {
  font-size: 2em;
  text-transform: uppercase;
  color: #ffffff;
}

.form {
  min-height: 90vh;
  flex-direction: column;
  justify-content: flex-start;
}
.form h2 {
  margin: 100px 0;
  font-size: 3em;
}
.form form {
  width: 50%;
}
.form form div input {
  width: 100%;
  padding: 10px;
  border: 3px solid #02020a;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1.2em;
  transition: all 0.3s ease-in-out;
}
.form form div input::-moz-placeholder {
  color: #02020a;
}
.form form div input:-ms-input-placeholder {
  color: #02020a;
}
.form form div input::placeholder {
  color: #02020a;
}
.form form div input[type=submit] {
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.1em;
  width: 25%;
}
.form form div input:hover {
  background: #02020a;
  color: #ffffff;
}
.form form div input:hover::-moz-placeholder {
  color: #ffffff;
}
.form form div input:hover:-ms-input-placeholder {
  color: #ffffff;
}
.form form div input:hover::placeholder {
  color: #ffffff;
}
.form_error {
  background: #880d1e;
  padding: 10px;
  color: #ffffff;
  font-size: 1.2em;
  margin-top: 10px;
  border-radius: 5px;
}
.albums {
  min-height: 90vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 200px;
}
.albums h2 {
  margin-top: 100px;
  margin-bottom: 15px;
  font-size: 3em;
}
.albums a {
  padding: 10px;
  border: 3px solid #02020a;
  border-radius: 5px;
  font-size: 1.2em;
  transition: all 0.3s ease-in-out;
}
.albums a:hover {
  background: #02020a;
  color: #ffffff;
}
.albums_cards {
  width: calc(100% + 20px);
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 50px -10px 0 -10px;
}
.albums_cards_card {
  margin: 10px;
  width: calc(33.33% - 20px);
  padding: 20px;
  border: 3px solid #02020a;
  border-radius: 5px;
  justify-content: space-between;
}
.albums_cards_card_left a {
  text-transform: uppercase;
  padding: 5px;
  border-radius: 5px 5px 0 0;
  border: none;
  border-bottom: 2px solid #02020a;
  font-size: 1em;
}
.albums_cards_card_right a {
  font-size: 1em;
  font-weight: 600;
}
.albums_cards_card_right a:hover {
  background: #880d1e;
}

.album {
  min-height: 90vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 200px;
}
.album h2 {
  margin-top: 100px;
  margin-bottom: 15px;
  font-size: 3em;
}
.album form div input {
  width: 100%;
  padding: 10px;
  border: 3px solid #02020a;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1.2em;
  transition: all 0.3s ease-in-out;
}
.album form div input::-moz-placeholder {
  color: #02020a;
}
.album form div input:-ms-input-placeholder {
  color: #02020a;
}
.album form div input::placeholder {
  color: #02020a;
}
.album form div input::-webkit-file-upload-button {
  border: none;
  background: #02020a;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.album form div input[type=submit] {
  cursor: pointer;
  font-weight: 600;
  width: 25%;
}
.album form div input:hover {
  background: #02020a;
  color: #ffffff;
}
.album form div input:hover::-moz-placeholder {
  color: #ffffff;
}
.album form div input:hover:-ms-input-placeholder {
  color: #ffffff;
}
.album form div input:hover::placeholder {
  color: #ffffff;
}
.album form div input:hover::-webkit-file-upload-button {
  background: #ffffff;
  color: #02020a;
}
.album_cards {
  width: 100%;
  flex-wrap: wrap;
  margin: 50px -10px 0 -10px;
  justify-content: flex-start;
}
.album_cards_card {
  margin: 10px;
  width: calc(33.33% - 20px);
  justify-content: space-between;
  border-radius: 10%;
  overflow: hidden;
}
.album_cards_card img {
  width: 100%;
  height: auto;
}/*# sourceMappingURL=index.css.map */