.albums {
	min-height: 90vh;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0 200px;
	h2 {
		margin-top: 100px;
		margin-bottom: 15px;
		font-size: 3em;
	}
	a {
		padding: 10px;
		border: 3px solid $color_3;
		border-radius: 5px;
		font-size: 1.2em;
		transition: all 0.3s ease-in-out;
		&:hover {
			background: $color_3;
			color: $color_1;
		}
	}
	&_cards {
		width: calc(100% + 20px);
		flex-wrap: wrap;
		justify-content: flex-start;
		margin: 50px -10px 0 -10px;
		&_card {
			margin: 10px;
			width: calc(33.33% - 20px);
			padding: 20px;
			border: 3px solid $color_3;
			border-radius: 5px;
			justify-content: space-between;
			&_left {
				a {
					text-transform: uppercase;
					padding: 5px;
					border-radius: 5px 5px 0 0;
					border: none;
					border-bottom: 2px solid $color_3;
					font-size: 1em;
				}
			}
			&_right {
				a {
					font-size: 1em;
					font-weight: 600;
					&:hover {
						background: $color_2;
					}
				}
			}
		}
	}
	@media (max-width: 1350px) {
		padding: 0 100px;
		&_cards {
			width: calc(100% + 10px);
			margin: 50px -5px 0 -5px;
			&_card {
				margin: 5px;
				width: calc(33.33% - 10px);
			}
		}
	}
	@media (max-width: 1100px) {
		padding: 0 50px;
		&_cards {
			&_card {
				width: calc(50% - 10px);
			}
		}
	}
	@media (max-width: 700px) {
		padding: 0 25px;
		&_cards {
			&_card {
				width: calc(100% - 10px);
			}
		}
	}
	@media (max-width: 300px) {
		padding: 0 10px;
		h2 {
			font-size: 2em;
		}
		a {
			font-size: 1em;
		}
		&_cards {
			width: calc(100%);
			margin: 50px 0 0 0;
			&_card {
				margin: 5px;
				width: calc(100% - 10px);
				padding: 10px;
				&_left {
					a {
						font-size: 0.8em;
					}
				}
				&_right {
					a {
						font-size: 0.8em;
						padding: 2px;
					}
				}
			}
		}
	}
}
