.album {
	min-height: 90vh;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0 200px;
	h2 {
		margin-top: 100px;
		margin-bottom: 15px;
		font-size: 3em;
	}
	form {
		div {
			input {
				width: 100%;
				padding: 10px;
				border: 3px solid $color_3;
				border-radius: 5px;
				margin-bottom: 10px;
				font-size: 1.2em;
				transition: all 0.3s ease-in-out;
				&::placeholder {
					color: $color_3;
				}
				&::-webkit-file-upload-button {
					border: none;
					background: $color_3;
					color: $color_1;
					padding: 5px;
					border-radius: 5px;
					cursor: pointer;
					transition: all 0.3s ease-in-out;
				}
				&[type='submit'] {
					cursor: pointer;
					font-weight: 600;
					width: 25%;
				}
				&:hover {
					background: $color_3;
					color: $color_1;
					&::placeholder {
						color: $color_1;
					}
					&::-webkit-file-upload-button {
						background: $color_1;
						color: $color_3;
					}
				}
			}
		}
	}
	&_cards {
		width: 100%;
		flex-wrap: wrap;
		margin: 50px -10px 0 -10px;
		justify-content: flex-start;
		&_card {
			margin: 10px;
			width: calc(33.33% - 20px);
			justify-content: space-between;
			border-radius: 10%;
			overflow: hidden;
			&_top {
				max-height: 500px;
				overflow: hidden;
				img {
					width: 100%;
					height: auto;
				}
			}
			&_bottom {
				text-align: center;
				width: 100%;
				margin-bottom: 25px;
				a {
					width: 100%;
					padding: 10px;
					border: 3px solid $color_3;
					border-radius: 5px;
					margin-bottom: 10px;
					font-size: 1.2em;
					transition: all 0.3s ease-in-out;
					&:hover {
						background: $color_3;
						color: $color_1;
					}
				}
			}
		}
	}
	@media (max-width: 1400px) {
		padding: 0 100px;
	}
	@media (max-width: 1000px) {
		&_cards {
			&_card {
				width: calc(50% - 20px);
			}
		}
	}
	@media (max-width: 700px) {
		padding: 0 50px;
		&_cards {
			&_card {
				width: calc(100% - 20px);
			}
		}
	}
	@media (max-width: 600px) {
		h2 {
			font-size: 2em;
		}
		form {
			div {
				input {
					width: 100%;
					padding: 0;
					font-size: 1em;
					&::-webkit-file-upload-button {
						border-radius: 0;
					}
					&[type='submit'] {
						width: 50%;
					}
				}
			}
		}
		&_cards {
			&_card {
				width: calc(100% - 20px);
			}
		}
	}
	@media (max-width: 500px) {
		padding: 0 25px;
		h2 {
			font-size: 1em;
		}
		form {
			div {
				input {
					font-size: 0.8em;
				}
			}
		}
		&_cards {
			&_card {
				width: calc(100% - 20px);
			}
		}
	}
}
